<p routerLink="/">To Home Page</p>
<div class="forms">
    <div class="info"> <h1>Enter Your Login and Password</h1> 
    </div>
    <form [formGroup]="loginFormGroup">
        <div>
            <input type="text" placeholder="Login" formControlName="login">
        </div>
        <div>
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <div class="collect-buttons">
            <div class="middle-text" routerLink="../forgot-password">Forgot password?</div>
            <div>
                <button class="login-button" (click)="onLogin()">Login</button>
            </div>
            <div>
                <button class="cancel-btn" routerLink="/">Cancel</button>
            </div>
        </div>
    </form>
</div>