<div [routerLink]="['/']"> <p><strong>To Home Page . . .</strong></p></div>
<div *ngFor="let movie of inProgressList" class="movie-list">
  <div class="btn-div">
    <button class="del-btn" (click)="reject()">
      Reject
    </button>
  </div>
  <div class="btn-div">
    <button class="edit-btn" (click)="approve()">
      Approve
    </button>
  </div>
  <div class="movie-list">
    <span>
      <h1 class="title">{{ movie.title }}</h1>
      <h2 class="year">({{ movie.year }})</h2>
      <div>
        <small><strong>Genre:</strong> {{ movie.genres }}</small> <br/>
        <small><strong>Actors:</strong> {{ movie.actors }}</small> <br/>
        <small><strong>Duration:</strong> {{ movie.duration }}</small> <br/>
        <small><strong>Rating:</strong>{{ movie.rateingAverage | number: "1.1-2" }} from 10</small>
      </div>
      <div class="description">
        <h4>Description</h4> {{ movie.storyline }}
      </div>
    </span>
  </div>
</div>
