.movieList{
    border-style: double;
    margin-top: 5px;
    border-radius: 10px;
    position: static;
    overflow: auto;
    padding: 40px;
    background-color: rgb(243, 243, 243);
    margin-top: 100px;
    margin-right: 250px;
    margin-left: 180px;
}

.imgConteiner {
    padding-right: 1em;
    border-radius: 8px;
    float: left;
    width: 50%;
    max-width: 250px;
  }

  .imgClass{
    width: 100%;
     height:  100%;
  }

.title{
    color: darkslategrey;
}

.year{
    color: darkslategrey;
}

.t{
    text-align: justify;
}