<div class="botton">
  <button class="login-btn" [routerLink]="['/log-in']">Log in</button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="first">
      <label for="title">
        <input class="center-block" id="title" type="text" placeholder="Film Title" formControlName="title" />
      </label>
    </div>
    <div class="second">
      <label for="year">
        <input class="center-block" id="year" type="text" placeholder="Film Year" formControlName="year" />
      </label>
    </div>
    <div class="third">
      <label for="genres">
        <select class="center-block" name="genres" id="genres" formControlName="genres">
          <option value=""> </option>
          <option value="Action">Action</option>
          <option value="Comedy">Comedy</option>
          <option value="Crime">Crime</option>
          <option value="Adventure">Adventure</option>
          <option value="Drama">Drama</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Horror">Horror</option>
          <option value="Romance">Romance</option>
          <option value="Documentary">Documentary</option>
          <option value="Thriller">Thriller</option>
          <option value="Western">Western</option>
          <option value="Mystery">Mystery</option>
        </select>
      </label>
    </div>
    <br />
    <div>
      <button class="search-button" type="submit">Search</button>
    </div>
  </form>
</div>