<div class="bottom">
    <div class="first">
        <label for="title"></label>
        <input id="title" type="text" placeholder="Film Title">
    </div>
    <div class="second">
        <label for="year"></label>
        <input id="year" type="number" placeholder="Film Year">
    </div>
    <div class="third">
        <label for="genre"></label>
        <input id="genre" type="text" placeholder="Film Genre">
    </div>
</div> <br>
<div>
    <button class="search-button"> Search </button>
</div>