<div class="forms">
  <div class="info"><h1>Change Password</h1></div>
  <form [formGroup]="changePassFormGroup">
    <input
      type="password"
      class="center-block"
      placeholder="Write Your New Password"
      formControlName="newPass"
    />
    <div class="collect-buttons">
      <div>
        <button class="login-button" (click)="changePassword()">Change</button>
      </div>
      <div>
        <button class="cancel-btn" [routerLink]="['/log-in']">Cancel</button>
      </div>
    </div>
  </form>
</div>
